<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" type="text/css" href="/css/dropzone.css">
    <script src="/js/dropzone.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script>
        $(document).ready(function() {
            $.get("/header",function(data){
                $( "#header" ).html( data );
            });
        });
    </script>
    <script>
        // "myDropzone" is the camelized version of the HTML element's ID
        Dropzone.options.myDropzone = {
            paramName: "file", // The name that will be used to transfer the file
            parallelUploads: 10,
            addRemoveLinks: true,
            thumbnailWidth: "45",
            thumbnailHeight: "45",
            dictCancelUpload: "Cancel",
            autoProcessQueue: true,
            init: function () {
                this.on("success", function (file) {
                    this.removeFile(file);
                    this.emit("addedfile", file);
                    this.emit("complete", file);
                    this.emit("thumbnail", file, "/img/file_thumbnail.png");
                    this.files.push(file);
                });
            }
        };
    </script>
</head>
<body>
    <div id="header"></div>
    <p>DASHBOOOOOOAORRRRRRDDDD BOOOOOOIIIIIIISSSSSS. KNACK 2 BABEEEEEEHHHHH!</p>
    <p>Welcome to the jam <<%= firstName %>> <<%= lastName %>> Type User:<<%= type_user%>></p>
    <div style="background-color:lightgray;">
        <form action="/upload-file" class="dropzone dz-drag-hover" id="myDropzone" enctype="multipart/form-data">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
    </div>
</body>
</html>