<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/dropzone.js"></script>
    <script>
        let createButtonsForPainting = (paintingMetadata) => {
            let _testTemplateString = `<div class="fileIcon"><div class="dropdown"><button class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="img/file_thumbnail.png" class="getMorePaint" data-fk_user="<%= id %>" data-filepath="<%= filepath %>" height="40" width="40"><span class="caret"></span></button><p><%= fileName %></p><ul class='dropdown-menu dropdown-menu-center'><li><a href='#' class='downloadFile' >Download</a></li><li><a href='#' class='shareFile'>Share</a></li><li><a href='#' class='deleteFile'>Delete</a></li></ul></div></div>`;
            let newDom = '';
            let templateFn = _.template(_testTemplateString);
            for(let i = 0; i< paintingMetadata.length; i++){
                let fileName = paintingMetadata[i].filepath.replace("/public/uploads/","");
                newDom += templateFn({id : paintingMetadata[i].pk_file, filepath : paintingMetadata[i].filepath, fileName: fileName});
            }
            $('div.currentFiles').html(newDom);
            $(".downloadFile").click(function(){
                let imageSource = $(this).parent().parent().siblings('button.dropdown-toggle').children('img.getMorePaint').data('filepath');

                window.open('/download-file?filepath='+imageSource);
            });

            $(".shareFile").click(function(){
                let imageSource = $(this).parent().parent().siblings('button.dropdown-toggle').children('img.getMorePaint').data('fk_user');

                $.ajax({
                    type : 'GET',
                    url : '/share-file?id='+imageSource,
                    success : (data) => {
                        $.ajax({
                            type : 'GET',
                            url : '/load-shared-files',
                            success : (data) => {
                                createButtonsForSharing(data);
                            },
                            error : (trace) =>{
                                console.log(trace);
                            }
                        });
                    },
                    error : (trace) =>{
                        console.log(trace);
                    }
                });
            });
            $(".deleteFile").click(function(){
                let imageSourceID = $(this).parent().parent().siblings('button.dropdown-toggle').children('img.getMorePaint').data('fk_user');
                let imageSourceFilePath = $(this).parent().parent().siblings('button.dropdown-toggle').children('img.getMorePaint').data('filepath');

                if(confirm("Do you really want to delete this file?")){
                    $.ajax({
                        type : 'GET',
                        url : '/delete-file?id='+imageSourceID+'&filepath='+imageSourceFilePath,
                        success : (data) => {
                            $.ajax({
                                type : 'GET',
                                url : '/load-files',
                                success : (data) => {
                                    createButtonsForPainting(data);
                                },
                                error : (trace) =>{
                                    console.log(trace);
                                }
                            });

                            $.ajax({
                                type : 'GET',
                                url : '/load-shared-files',
                                success : (data) => {
                                    createButtonsForSharing(data);
                                },
                                error : (trace) =>{
                                    console.log(trace);
                                }
                            });

                        },
                        error : (trace) =>{
                            console.log(trace);
                        }
                    });
                }
                else{
                    return false;
                }

            });
        };

        let createButtonsForSharing = (sharedFolderMetadata) => {
            let _testTemplateString = `<div class="fileIcon"><div class="dropdown"><button class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="img/file_thumbnail.png" class="getMorePaint" data-fk_user="<%= id %>" data-filepath="<%= filepath %>" height="40" width="40"><span class="caret"></span></button><p><%= fileName %></p><ul class='dropdown-menu dropdown-menu-center'><li><a href='#' class='downloadFile' >Download</a></li><li><a href='#' class='deleteFile'>Delete</a></li></ul></div></div>`;
            let newDom = '';
            let templateFn = _.template(_testTemplateString);
            for(let i = 0; i< sharedFolderMetadata.length; i++){
                let fileName = sharedFolderMetadata[i].filepath.replace("/public/uploads/","");
                newDom += templateFn({id : sharedFolderMetadata[i].pk_file, filepath : sharedFolderMetadata[i].filepath, fileName: fileName});
            }
            $('div.sharedFiles').html(newDom);
            $(".downloadFile").click(function(){
                let imageSource = $(this).parent().parent().siblings('button.dropdown-toggle').children('img.getMorePaint').data('filepath');

                window.open('/download-file?filepath='+imageSource);
            });
            $(".deleteFile").click(function(){
                let imageSourceID = $(this).parent().parent().siblings('button.dropdown-toggle').children('img.getMorePaint').data('fk_user');
                let imageSourceFilePath = $(this).parent().parent().siblings('button.dropdown-toggle').children('img.getMorePaint').data('filepath');

                if(confirm("Do you really want to delete this file?")){
                    $.ajax({
                        type : 'GET',
                        url : '/delete-file?id='+imageSourceID+'&filepath='+imageSourceFilePath,
                        success : (data) => {
                            $.ajax({
                                type : 'GET',
                                url : '/load-files',
                                success : (data) => {
                                    createButtonsForPainting(data);
                                },
                                error : (trace) =>{
                                    console.log(trace);
                                }
                            });

                            $.ajax({
                                type : 'GET',
                                url : '/load-shared-files',
                                success : (data) => {
                                    createButtonsForSharing(data);
                                },
                                error : (trace) =>{
                                    console.log(trace);
                                }
                            });

                        },
                        error : (trace) =>{
                            console.log(trace);
                        }
                    });
                }
                else{
                    return false;
                }

            });

        };



        $(document).ready(function() {
            $.get("/header",function(data){
                $( "#header" ).html( data );
            });

            $.ajax({
                type : 'GET',
                url : '/load-files',
                success : (data) => {
                    console.log("Worked");
                    console.log(data);
                    createButtonsForPainting(data);
                },
                error : (trace) =>{
                    console.log("Didn't work");
                }
            });

            $.ajax({
                type : 'GET',
                url : '/load-shared-files',
                success : (data) => {
                    createButtonsForSharing(data);
                },
                error : (trace) =>{
                    console.log("Didn't work");
                }
            });
        });
    </script>
    <script>
        // "myDropzone" is the camelized version of the HTML element's ID
        Dropzone.options.myDropzone = {
            paramName: "file", // The name that will be used to transfer the file
            parallelUploads: 2,
            addRemoveLinks: true,
            thumbnailWidth: "45",
            thumbnailHeight: "45",
            dictCancelUpload: "Cancel",
            autoProcessQueue: true,
            init: function () {
                this.on("success", function (file) {
                    this.removeFile(file);
                    $.ajax({
                        type : 'GET',
                        url : '/load-files',
                        success : (data) => {
                            createButtonsForPainting(data);
                            location.reload();
                        },
                        error : (trace) =>{
                            console.log(trace);
                        }
                    });
                });
            }
        };
    </script>
</head>
<body>
    <div id="header"></div>
    <p>Welcome to NodeCloud <<%= firstName %>> <<%= lastName %>></p>
    <div class="pull-right col-sm-12 col-md-12 col-lg-12">
        <hr><p>My files</p>
    </div>
    <div class="currentFiles"></div>

    <div class="pull-right col-sm-12 col-md-12 col-lg-12">
        <hr><p>Shared files</p>
    </div>
    <div class="sharedFiles"></div>

    <div style="background-color:lightgray;" class="col-sm-12 col-md-12 col-lg-12">
        <form action="/upload-file" method="post" class="dropzone dz-drag-hover" id="myDropzone" enctype="multipart/form-data">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
    </div>
</body>
</html>