<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script>
        $(document).ready(function() {
            $.get("/header", function(data) {
                $("#header").html(data);
            });
        });
    </script>
</head>
<body>
    <div id="header"></div>
    <div class="centerDiv">
        <h1>Mon profil</h1><br><br>
        <form action="/profil" method="post">

            <label for="nom">Nom</label><br><input id="nom" name="nom" value="<<%= lastName %>>" type="text" size="50" required /><br><br><br>
            <label for="prenom">Prénom</label><br><input id="prenom" name="prenom" value="<<%= firstName %>>" type="text" size="50" required /><br><br><br>
            <label for="oldPassword">Mot de passe</label><br><input id="oldPassword" name="oldPassword" type="password" size="50" required /><br><br><br>
            <label for="newPassword">Nouveau mot de passe</label><br><input id="newPassword" name="newPassword" type="password" size="50" /><br><br><br>
            <label for="newPasswordConfirmed">Confirmation du nouveau mot de passe</label><br><input id="newPasswordConfirmed" name="newPasswordConfirmed" type="password" size="50" /><br>
            <<% if (typeof(error) !== "undefined") { %>>
            <br><span class="error"><<%=error%>></span><br>
            <<%}%>>
            <br>
            <button id="cancel" class="btnProfil" type="button" onclick="location.href='/dashboard'">Annuler</button>
            <button id="submit" class="btnProfil" type="submit">Enregistrer</button>
        </form>
    </div>
</body>
</html>